*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.full_main{
    background-color: #f1f1f1;
    width: 100%;
    height: 500px;
}
.first_r{
    width: 90%;
    margin: auto;
    padding: 3px;
}
.main_head{
    position: relative;
}
.heading_title{
    position: absolute;
    top: 20%;
    
    
}
.heading_title>h1{
    font-size: 50px;
    color: #15295f;
    margin-top: 18px;
}
.heading_title>h4{
    
    color: #15295f;
    margin-top: 18px;
}
.heading_title>p{
    font-size: 19px;

}
.heading_title>.btn_d{
    margin-top: 12px;
    background: none;
    border: none;
    padding: 15px;
    margin: 0px 7px 0px 7px;
    background-color: #fd6e0a;
    border-radius: 23px;
}
.heading_title>.btn_con{
    margin-left: 29px;
    margin-top: 12px;
    padding: 16px;
    margin: 0px 7px 0px 7px;
    background: none;
    border-radius: 23px;
    border: none;
    border: 4px solid salmon ;
}
.heading_title>.btn_con:hover{
    background-color: #fd6e0a;
}
.main_head>.heading_title >h5,h4,h1{
    display: block;
}
.img_container{
    height: 400px;
}
.main_image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.man_img{
    width: 90%;
    height: 100%;
}
/*  icon container absoulte */
.cont_icon{
    width: 80%;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: auto;
    justify-content: space-around;
    box-shadow: 8px 8px 8px 8px;
    position: absolute;
    top: 67%;
    left: 10%;

    border-radius: 25px;
}
.cont_icon>.exp_icon{
    width: 30.3%;
    padding: 12px;
     display: flex;
     justify-content: space-around;
     align-items: center;
     justify-content: center;
}
.ico{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: orange;
 
}
.gr_icon{
    font-size: 58px;
    
}
.icon_text>h1{

    color: #15295f;
  
}
.icon_text>p{
    font-size: 20px;
}
/* mdiddle card section*/
.card_container{
    width: 100%;
  
   background-color: #f1f1f1;
    
}

.card_container>.card_rows{
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: auto;
  
    
}
.card_Section{
    width: 25%;
    text-align: center;
    box-shadow: 2px 2px 2px 3px;
    height: 350px;
    border-radius: 12px;
    margin-top: 7rem;
}
.card_c{
    width: 100%;
    height: 125px;
    display: flex;
   align-items: center;
    justify-content: center;
}
.card_icon{
    width: 60px;
    height: 60px;
   
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_text{
   margin-top: 22px;
   height: 130px;
}
.cg_icon{
    font-size: 37px;
}
.card_text>p{
    margin-top: 23px;
    padding: 20px;
}









@media screen and (max-width: 499px) {
    .body{
        overflow: hidden;
    }

    .full_main{
        width: 100%;
        overflow: hidden;
    }
    .full_main>.first_r{
        width: 90%;
    }
    .full_main>.first_r>.main_head{

    }
    .img_container{
        display: none;
    }
    .full_main{
        width: 100%;
    }
    .cont_icon{
        top: 35%;
         display: flex;
         margin: auto;
         flex-direction: column;
         justify-content: space-between;

    }
  
    .cont_icon>.exp{
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-evenly;       
    }
    .exp>.exp_icon{
        margin: 23px;
        box-shadow: 3px 3px 3px 2px;
        display: flex;
        width: 100%;
        border-radius: 3px;
    }
    .exp>.exp_icon>.ico{
        margin-left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
    }
    .exp>.exp_icon>.icon_text>h3{
       margin-top:10px;

    }
    .exp_icon>.ico{
        width: 50%;
    }

    /* card section  */

    .card_container{
        width: 100%;
        margin-top: 100%;

    }
    .card_container>.card_rows{
        display: flex;
        margin: auto;
        width: 90%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
   .card_container>.card_rows>.card_Section{
   
    width: 60%;
   }
    
}
@media screen and (min-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {  
.body{
    overflow: hidden;
}
 .cont_icon{
    top: 57%;
 }   
 .card_container{
    margin-top: 91%;
 }

}